<%@ layout Layout %>
<%@ import app.model.* %>

<h3>What Version of Gosu Am I Using?</h3>

<form>
    <div class="form-group">
        <label class="control-label">Select Application</label>
        <select class="form-control" name="make" ic-post-to="/apps" ic-target="#models" ic-indicator="#model-ind">
            <% for(Application app : Application.getAll()) { %>
            <option value="${app.getFileSystemName()}">${app.getName()}</option>
            <% } %>
        </select>
    </div>
</form>
