<%@ layout Layout %>
<%@ import app.model.*; %>
<%@ params(Application selectedApp, String selectedVersion) %>

<h3>What Version of Gosu Am I Using?</h3>

<form>
    <div class="form-group">
        <label class="control-label">Select Application</label>
        <select class="form-control" name="app" ic-get-from="/versions" ic-target="#versions">
            <option value="NO APP">Select an Application</option>
            <% for(Application app : Application.getAll()) { %>
            <option value="${app.getFileSystemName()}" ${app.equals(selectedApp) ? "selected" : null}>
                ${app.getName()}
            </option>
            <% } %>
        </select>
    </div>

    <div id="versions" class="form-group">
        <% if(selectedApp != null) { %>
          <%@ include Versions(selectedApp, selectedVersion) %>
        <% } %>
    </div>

</form>
