<%@ import app.model.* %>
<%@ params(Application selectedApp, String selectedVersion) %>

<h2>RELEASES</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Release
        </th>
        <th>
            Gosu Version
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    <% for(String release: selectedApp.getReleases(selectedVersion)) { %>
    <tr>
        <td>${release}</td>
        <td>Unknown</td>
        <td>
            <a href='/${selectedApp.getFileSystemName() + "/" + selectedVersion + "/" + release}'>Explore >>></a>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
