<%@ import app.model.* %>
<%@ params(Application selectedApp, String selectedVersion) %>

<label class="control-label">Select Version:</label>
<select class="form-control" name="version" ic-get-from="/releases" ic-target="#releases" ic-include='{"app":"${selectedApp.getFileSystemName()}"}'>
    <option value="">Select a Major Version</option>
    <% for(String version: selectedApp.getVersions()) { %>
    <option value="${version}" ${version.equals(selectedVersion) ? "selected" : null}>
        ${version}
    </option>
    <% } %>
</select>

<div id="releases">
    <% if(selectedVersion != null) { %>
    <%@ include Releases(selectedApp, selectedVersion) %>
    <% } %>
</div>


